.container{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 228, 228);
  /* padding: 1rem; */

}
.title{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.results{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.card{
  flex-wrap: wrap;
  height: 10vh;
  width: 40%;
  margin: 1rem;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(251, 251, 251);
}




.box-shadow{
  box-shadow:
  0 0px 12.4px -2px rgba(0, 0, 0, 0.038),
  0 0px 27.1px -2px rgba(0, 0, 0, 0.086),
  0 0px 50px -2px rgba(0, 0, 0, 0.14)
;
}
a{
  text-decoration: none;
  
}
.item-title{
  font-size: 1rem;
  height: 80%;
  color: blueviolet;
}
.item-details{
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
  text-align: justify;
  justify-content: space-around;
  margin: 2px;
  color: rgb(80, 73, 73);

}
.card:hover{
  background-color: rgb(149, 87, 207);
  
}
.card:hover a{
  color: #fff; 
  transition-delay: ease-in 0.5s;
  
}

.card:hover .item-details{
  color: #fff; 
  transition-delay: ease-in 0.5s;
}


@media only screen and (max-width: 800px) {
  .card{
    width: 80%;
  }
  
}